#gameboard {
  width: 95%;
  height: 370px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid $gray;
  ul {
    float: left;
    width: 16.6%;
    padding: 0;
    box-sizing: border-box;
    li:first-child {
      font-weight: bolder;
      font-size: 0.9rem;
      letter-spacing: 0.5px;
      line-height: 4rem;
      height: 60px;
      padding: 0;
      line-height: 1 rem;
      font-family: sans-serif;
      font-weight: 300;
      color: #8c8c8c;
      &:hover {
        background: none;
        color: $black;
      }
    }
    li {
      list-style-type: none;
      height: 50px;
      background: rgba(#fff, .5);
      border-radius: 5px;
      color: $black;
      margin: 5px;
      font-size: 1.7rem;
      text-align: center;
      &:hover {
        background: $primary-pink;
        transition: background 0.5s ease-in-out;
        color: $white;
      }
      h2 {
        margin: 0;
      }
    }
  }
}

.modal-container {
  position: fixed;
  background: rgba(#000, .7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10% 0 0;
  z-index: 10;
  #modal-wrapper {
    position: relative;
    top: 175px;
    width: 100%;
    h3 {
      width: 400px;
      margin: 10px auto;
      text-align: center;
    }
  }
  #backto-game {
    width: 90px;
    margin: 0 auto;
    background: $primary-pink;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: $white;
    &:hover {
      background: none;
      color: $primary-pink;
    }
  }
  form {
    width: 650px;
    height: 300px;
    margin: 0 auto;
    background: $white;
    .question-text {
      font-size: 1.5rem;
      text-align: center;
      padding: 10%;
    }
  }
}

.user-answer {
  text-align: center;
  #user-guess {
    width: 50%;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  #submit-user-guess {
    background: none;
    margin-left: 2%;
    border: none;
    padding: 7px;
  }
}
