#gameboard {
  width: 95%;
  margin: 0 auto;
  ul {
    float: left;
    width: 16.6%;
    padding: 0;
    box-sizing: border-box;
    li:first-child {
      font-weight: bolder;
      font-size: 1rem;
      height: 60px;
      padding: 0;
      line-height: 1 rem;
    }
    li {
      list-style-type: none;
      padding: 3px;
      background: #f1f0f3;
      border-radius: 5px;
      color: $black;
      margin: 5px;
      font-size: 1.7rem;
      text-align: center;
      &:hover {
        background: $primary-pink;
        transition: background 0.5s ease-in-out;
        color: $white;
      }
      h2 {
        margin: 0;
      }
    }
  }
}

.modal-container {
  position: fixed;
  background: rgba(black, .7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10% 0 0;
  h3 {
    position: relative;
    left: 25%;
    top: 150px;
  }
  #backto-game {
    position: relative;
    left: 46%;
    top: 150px;
  }
  form {
    width: 650px;
    height: 300px;
    margin: 0 auto;
    background: $white;
    .question-text {
      font-size: 1.5rem;
      text-align: center;
      padding: 10%;
    }
  }
}

.user-answer {
  text-align: center;
  #user-guess {
    width: 50%;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  #submit-user-guess {
    background: none;
    margin-left: 2%;
    border: none;
    padding: 7px;
  }
}
