#start-game {
  width: 200px;
  padding: 100px 150px;
  margin: 200px auto;
  border-radius: 15px;
  text-align: center;
  background: linear-gradient(to right, $primary-blue, $primary-pink);
}

#begin-btn {
  background: $white;
  color: $primary-blue;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 10px 20px;
  &:hover {
    color: $primary-pink;
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
  }
}
