.signup-form, .login-form {
  position: absolute;
  right: 20px;
  top: 67px;
  width: 190px;
  background: $primary-pink;
  text-align: center;
  z-index: 5;
  a {
    color: $white;
    font-size: 0.8rem;
  }
  input {
    margin: 10px auto;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    width: 150px;
    display: block;
  }
  input[type="submit"] {
    background: darken($primary-pink, 5%);
    color: $white;
    border: none;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    &:hover {
      background: darken($primary-pink, 10%);
      cursor: pointer;
    }
  }
  p {
    color: $white;
    font-size: 0.8rem;
  }
}

.signup-form {
  &::before {
    position: absolute;
    bottom: 171px;
    right: 20px;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $primary-pink;
  }
  .close-modal {
    position: relative;
    top: 3px;
    background: none;
    border: none;
    left: 83px;
    color: $white;
    font-weight: 600;
  }
}

.login-form {
  &::before {
    position: relative;
    bottom: 28px;
    right: 22px;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $primary-pink;
  }
  .close-modal {
    position: relative;
    top: 3px;
    background: none;
    border: none;
    left: 73px;
    color: $white;
    font-weight: 600;
  }
}
