.scoreboard {
  color: $black;
  position: absolute;
  bottom: 100px;
  width: 400px;
  border-radius: 10px;
  font-family: avenir, sans-serif;
  #question-results {
    display: inline-block;
    width: 150px;
    margin-left: 20px;
    p {
      padding-left: 10px;
    }
  }
  #total-money {
    display: inline-block;
    h2 {
      font-size: 3.5rem;
      margin: 0;
      position: relative;
      top: 13px;
      left: 0;
    }
  }
}

#results-page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(black, .7);
  text-align: center;
  display: none;
  #play-again {
    margin-top: 250px;
    padding: 70px 150px;
    font-size: 3rem;
    color: $primary-pink;
    background: $white;
    border: none;
    border-radius: 15px;
    &:hover {
      background: $primary-pink;
      color: $white;
    }
    &:focus {
      outline: 0;
    }
  }
}
