@import 'variables';
@import 'gameboard';
@import 'scoreboard';
@import 'nav';
@import 'login';

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
  }
}

input {
  &:focus {
    outline: none;
    background: none;
  }
}

a {
  text-decoration: none;
}
